<div class="card card-outline-danger">
	<div class="card-header card-inverse card-danger">
    <h7><%= "DISCLAIMER:" %></h7>
 	</div>
 	<div class="card-block">
    <p> Past performance does not guarantee future results. </p>
		<p>
DISCLAIMER: THERE ARE NO WARRANTIES, EXPRESSED OR IMPLIED, AS TO ACCURACY, COMPLETENESS, OR RESULTS OBTAINED FROM ANY INFORMATION PROVIDED HEREIN OR ON THE MATERIAL PROVIDED. This document does not constitute a complete description of our investment services and is for informational purposes only. It is in no way a solicitation or an offer to sell securities or investment advisory services. Any statements regarding market or other financial information is obtained from sources which we and our suppliers believe to be reliable, but we do not warrant or guarantee the timeliness or accuracy of this information.
</p>
	</div>
</div>